*{
    text-align: center;
}
.title{
    font-size: 4em;
    text-decoration: underline;
    color: olivedrab;
    font-weight: 600;
    margin-top: 1em;
    text-shadow: 4px 0 3px;
    margin-bottom: 1em;
}

.i{
    margin-top: 2em;
    font-size: 3em;
    width: 4em;
    border-radius: 10px ;
    box-shadow: 4px 3px ;
}

.send{
    margin-top: 2em;
    font-size: 2em;
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(67, 97, 153);
    cursor: pointer;
}

.message{
    color: red;
    font-size: 4em;
    text-decoration: underline;
    font-weight: 600;
    margin-top: 1em;
}

p{
    color: orange;
    text-decoration: underline;
    font-weight: 500;
    font-size: 1.5em;
    background-color: rgba(100, 148, 237, 0.597);
    width: 15em;
    margin: auto;
}

#ancien{
    color: brown;
}